<ion-header>
    <ion-toolbar>
        <ion-title>{{ionTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-content">
        <ion-card *ngIf="messageFirebase">
            <ion-item color="success">
                <label class="ion-text-center">{{messageFirebase}}</label>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-item>
                <h3>Let's create calendar with opening hours </h3>
            </ion-item>
        </ion-card>


        <form [formGroup]="contactForm" novalidate>

              <ion-item>
                  <ion-label class="label">Day</ion-label>
                  <ion-label class="label">Opening/Closing</ion-label>

              </ion-item>

            <div>
                <ion-item class="item">
                    <ion-label class="label1">Monday</ion-label>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="MondayOpening"
                                  class="dateTime"
                                  value="1990-02-19T07:43Z"></ion-datetime>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="MondayClosing"
                                  class="dateTime1"
                                  value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>

                <ion-item class="item">
                    <ion-label class="label1">Tuesday</ion-label>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="TuesdayOpening"
                                  class="dateTime"
                                  value="1990-02-19T07:43Z"></ion-datetime>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="TuesdayClosing"
                                  class="dateTime1"
                                  value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>


                <ion-item class="item">
                    <ion-label class="label1">Wednesday</ion-label>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="WednesdayOpening"
                                  class="dateTime"
                                  value="1990-02-19T07:43Z"></ion-datetime>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="WednesdayClosing"
                                  class="dateTime1"
                                  value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>


                <ion-item class="item">
                    <ion-label class="label1">Thursday</ion-label>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="ThursdayOpening"
                                  class="dateTime"
                                  value="1990-02-19T07:43Z"></ion-datetime>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="ThursdayClosing"
                                  class="dateTime1"
                                  value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>

                <ion-item class="item">
                    <ion-label class="label1">Friday</ion-label>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="FridayOpening"
                                  class="dateTime"
                                  value="1990-02-19T07:43Z"></ion-datetime>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="FridayClosing"
                                  class="dateTime1"
                                  value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>

                <ion-item class="item">
                    <ion-label class="label1">Saturday</ion-label>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="SaturdayOpening"
                                  class="dateTime"
                                  value="1990-02-19T07:43Z"></ion-datetime>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="SaturdayClosing"
                                  class="dateTime1"
                                  value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>

                <ion-item class="item">
                    <ion-label class="label1">Sunday</ion-label>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="SundayOpening"
                                  class="dateTime"
                                  value="1990-02-19T07:43Z"></ion-datetime>

                    <ion-datetime display-format="h:mm A" picker-format="h:mm A"
                                  formControlName="SundayClosing"
                                  class="dateTime1"
                                  value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>

            </div>

           <!-- <ion-item>
                <ion-label>Calendar Name</ion-label>
                <ion-input formControlName="calendarName"></ion-input>
            </ion-item>-->

        </form>


        <ion-card *ngIf="firebaseErrorMessage">
            <ion-item color="warning">
                <label class="ion-text-center">{{firebaseErrorMessage}}</label>
            </ion-item>
        </ion-card>

        <ion-button *ngIf="!isUpdateCalendar else updateButton " type="submit" expand="block" (click)="saveData()"
                    [disabled]="!contactForm">Save calendar data
        </ion-button>

        <ng-template #updateButton>

            <section>
                <ion-button expand="block" (click)="updateCalendars()" [disabled]="!contactForm">{{ionButton}}
                </ion-button>
            </section>
        </ng-template>

    </div>
</ion-content>
