<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Search business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-content">
    <p>* require parameter</p>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Name organization</ion-label>
        <ion-input type="text" formControlName="nameOrganization"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">zipCode</ion-label>
        <ion-input type="text" formControlName="zipCode"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><sup>*</sup> Type of organization </ion-label>
        <ion-select
          formControlName="typeOrganization"
          placeholder="Select One"
          mode="md"
        >
          <ion-select-option
            *ngFor="let type of typesOrganization"
            [value]="type.name"
          >
            {{ type.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <div
        *ngIf="typeOrganization.errors?.required && typeOrganization.touched"
      >
        <em> Type of organization is required.</em>
      </div>

      <ion-button type="submit" expand="block" [disabled]="!registerForm.valid"
        >Search
      </ion-button>
    </form>

    <ion-spinner *ngIf="searching" name="lines"></ion-spinner>

    <ion-card *ngIf="businesses">
      <ion-item>
        <h3>Choose business</h3>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label
            class="orderBy"
            style="cursor: pointer"
            (click)="orderByName()"
          >
            Name business &#x25B2; &#x25BC;</ion-label
          >

          <ion-label
            class="orderBy"
            style="cursor: pointer"
            (click)="orderByAddress()"
          >
            Address &#x25B2; &#x25BC;
          </ion-label>
        </ion-item>

        <ion-item-sliding *ngFor="let item of businesses ">
          <ion-item (click)="selectDetailsBusiness(item)" class="item">
            <ion-label style="cursor: pointer"
              >{{item.nameOrganization}}
            </ion-label>
            <ion-label style="cursor: pointer"
              >{{item.city + " " + item.nameStreetWithNumber}}</ion-label
            >
          </ion-item>
        </ion-item-sliding>
      </ion-list>

      <ion-card *ngIf="noResultMessage">
        <ion-item color="warning">
          <label class="ion-text-center"
            >We couldn’t find any string matching
          </label>
        </ion-item>
      </ion-card>
    </ion-card>
  </div>
</ion-content>
