<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Forgot Password</h3>

        <div class="formGroup">
          <input
            type="email"
            class="form-control"
            placeholder="Email Address"
            #passwordResetEmail
            required
          />
        </div>

        <div class="formGroup">
          <input
            type="submit"
            class="btn btn-primary btn-block"
            value="Reset Password"
            (click)="resetEmail(passwordResetEmail.value)"
          />
        </div>
      </div>
    </div>
  </div>
</ion-content>
