ion-card-header {
  -ms-text-align-last: left;
  text-align-last: left;
}
.schedule {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  text-align: center;
}
.calendarName {
  text-align: center;
}
.table {
  border-top: 1px solid #737373;
}
.create-meeting-button {
  margin-bottom: 50px;
}
.item {
  display: flex;
  margin-top: 15px;
  align-items: center;
}
.item ion-icon {
  display: inline-block;
  font-size: 28px;
}

.item ion-card-subtitle {
  margin-left: 15px;
  display: inline-block;
}
.openingHoursBox {
  margin-top: 15px;
}

.openingHours {
  display: inline-block;
  margin: 0px;
  margin-left: 15px;
}
.create-calendar {
  margin-top: 2.5vh;
}
