<script src="../../../app.component.ts"></script>
<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!business">My Calendar </ion-title>
    <ion-title *ngIf="business"
      >Business Calendar {{business.nameOrganization}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card-header *ngIf="business">
    <p>Address {{business.nameStreetWithNumber}}</p>
    <p>City {{business.city}}</p>
  </ion-card-header>

  <div class="calendar">
    <ion-row>
      <!-- Move back one screen of the slides -->
      <ion-col size="2">
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="8" class="ion-text-center">
        <h2>{{ viewTitle }}</h2>
      </ion-col>

      <!-- Move forward one screen of the slides -->
      <ion-col size="2">
        <ion-button fill="clear" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <calendar
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onTitleChanged)="onViewTittleChanged($event)"
    >
    </calendar>
  </div>

  <ion-card *ngIf="meetingWithBusiness.length > 0 ; else isNotAvailable">
    <ion-list>
      <ion-item>
        <ion-label
          class="orderBy"
          style="cursor: pointer"
          (click)="reverseTimeList()"
        >
          <!--todo hover color and mouse type change-->
          Meetings &#x25B2; &#x25BC;
        </ion-label>
      </ion-item>
      <ion-item-sliding *ngFor="let item of meetingWithBusiness ">
        <ion-item (click)="selectMeeting(item.meeting)" class="item">
          <ion-card-header>
            <ion-card-subtitle
              ><b>Date</b> {{item.meeting.date | formatMeeting
              }}</ion-card-subtitle
            >
            <ion-card-subtitle
              ><b>Start End </b>{{item.meeting.time.start + ' ' +
              item.meeting.time.end}}</ion-card-subtitle
            >

            <div *ngIf="item.business">
              <ion-card-subtitle
                ><b>Name of Organization</b> {{item.business.typeOfOrganization
                }}</ion-card-subtitle
              >
              <ion-card-subtitle
                ><b>City</b> {{item.business.city }}</ion-card-subtitle
              >
              <ion-card-subtitle
                ><b>Address</b> {{item.business.nameStreetWithNumber
                }}</ion-card-subtitle
              >
            </div>
            <!--
                             <ion-card-subtitle>{{item.meeting.time.startMinutes}}</ion-card-subtitle>
                             <ion-card-subtitle>{{currentTime}}</ion-card-subtitle>-->
          </ion-card-header>

          <ion-button fill="outline" slot="end">Details</ion-button>
          <ion-label style="cursor: pointer"
            >{{item.start}} {{item.end}}
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
  <ng-template #isNotAvailable>
    <ion-item>
      <h3>Empty list of your meetings for this day</h3>
    </ion-item>
  </ng-template>
</ion-content>
