<ion-header [translucent]="true">


    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>
            Tab 1 a tak
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
        <h1>hello</h1>

        <a routerLink="/registration">registration</a>
        <br>
        <p>
            <a routerLink="/register-business">register-business</a>
        </p>

    </ion-card>
    <!-- <ion-header collapse="condense">
      <h2>hello2</h2>
       <ion-toolbar>
         <ion-title size="large">Tab 1</ion-title>
       </ion-toolbar>
     </ion-header>-->

    <app-explore-container name="Tab 1 page"></app-explore-container>


</ion-content>



