.buttons {
margin-left: 10px;
margin-bottom: 30px;
}
.item {
  display: flex;
  margin-top: 15px;
  align-items: center;
}
.item ion-icon {
  display: inline-block;
  font-size: 28px;
}

.item ion-card-subtitle {
  margin-left: 15px;
  display: inline-block;
}
