<script src="create-meeting.module.ts"></script>
<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Create meeting</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              >
    </calendar>

</ion-content>
