<script src="create-meeting.module.ts"></script>
<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Create meeting yoo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              >
    </calendar>

    <ion-card>
        <ion-list>
            <ion-item>
                <ion-label class="orderBy" style="cursor:pointer"
                           (click)="orderByName()"> <!--todo hover color and mouse type change-->
                    Name business   &#x25B2; &#x25BC;</ion-label>

                <ion-label class="orderBy" style="cursor:pointer"
                           (click)="orderByAddress()"> <!--todo hover color and mouse type change-->
                    Address &#x25B2; &#x25BC; </ion-label>

            </ion-item>
            <ion-item-sliding *ngFor="let item of businesses$ ">
                <ion-item (click)="chooseBusiness(item)" class="item">
                    <ion-label style="cursor:pointer">{{item.nameOrganization}} </ion-label>
                    <ion-label style="cursor:pointer">{{item.city + " " + item.nameStreetWithNumber}}</ion-label>
                </ion-item>
            </ion-item-sliding>

        </ion-list>
    </ion-card>
</ion-content>
