<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card *ngIf="!emailVerified">
    <ion-item color="warning">
      <label class="ion-text-center"
        >Email is not verified. Please confirm your email address.
      </label>
    </ion-item>
  </ion-card> -->

  <ion-card *ngIf="userDetails">
    <ion-item>
      <label class="ion-text-start"
        >Welcome {{userDetails.firstName}} {{userDetails.lastName}}
      </label>
    </ion-item>
  </ion-card>

  <div class="grid-item"></div>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <div class="searchElement" routerLink="/meetings">
          <ion-icon class="ion-1x" name="calendar"></ion-icon>
          <p class="meetings">My Meetings</p>
        </div>
      </ion-col>

      <ion-col col-3 *ngIf="(businessMode$ | async)">
        <div class="searchElement" routerLink="/register-business">
          <ion-icon class="ion-1x" name="add-circle"></ion-icon>
          <p>Create Business</p>
        </div>
      </ion-col>

      <ion-col col-3>
        <div class="searchElement" routerLink="/search-business">
          <ion-icon class="ion-1x" name="search-outline"></ion-icon>
          <p>Search Business</p>
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="userDetails$ | async as userDetails; else loading">
      <div>{{userDetails | json}}</div>
    </div>

    <ng-template #loading>
      <p>Loading user details...</p>
    </ng-template>
  </ion-grid>

  <ion-card>
    <ion-item button (click)="logout()" detail="false">
      <ion-icon slot="start" name="log-out"></ion-icon>
      <ion-label> Logout </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
