<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="!emailVerified">
        <ion-item color="warning">
            <label class="ion-text-center">Email is not verified. Please confirm your email address. </label>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="!isActiveMode">

        <p><a routerLink="/register-business">register-business</a></p>

        <p><a routerLink="/list-business">list of businesses </a></p>
        <p><a routerLink="/search-business">search business </a></p>
        <p><a routerLink="/meetings">My meeting </a></p>
        <p><a routerLink="/calendar-meetings">Calendar Meetings</a></p>
    </ion-card>

    <ion-card>
        <ion-item button (click)="logout()" detail="false">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>
                Logout
            </ion-label>
        </ion-item>
    </ion-card>

</ion-content>
